body,
html {
    padding: 0;
    margin: 0;
    border: 0;
    height: auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button,
input {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer"
    ;
    height: 100svh;
}
header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "usernotifications usernotifications"
        "toolbar toolbar"
    ;
    padding: 1rem;
    gap: 1rem;
    background-color: #E1EFE6;
}

header .user-panel {
    grid-area: usernotifications;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-areas:
        "search notifications avatar"
    ;
}

.user-avatar {
    grid-area: avatar;
    justify-self: end;
}

.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user-notifications {
    grid-area: notifications;
    justify-self: end;
}

.user-notifications a {
    color: #000411;
}

.user-notifications a:hover {
    color: #E85D75;
}

.user-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.user-search input {
    border-radius: 0.5rem;
    border: 1px solid white;
    padding: 0.5rem;
    display: flex;
    flex: 1;
    color: #000411;
}

.user-search input:focus {
    outline: none;
    border: 1px solid #000041;
}

header .toolbar {
    grid-area: toolbar;
    display: flex;
    gap: 0.5rem;
    flex: 1;
    justify-content: space-between;
}

header .toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex: 1;
    border-radius: 10px;
    border: 0;
    background-color: #EFCB68;
    color: #000411;
    padding: 1rem;
}

.toolbar button:hover {
    background-color: #E85D75;
    color: white;
}

a {
    text-decoration: none;
}

nav {
    grid-area: nav;
    background-color: #160C28;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    align-items: center;
}

.sticky-menu {
    position: sticky;
    top: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li,
nav .logo {
    color: white;
    padding-bottom: 0.5rem
}

nav li:hover,
nav a:hover,
nav i:hover,
nav.logo:hover {
    color: #E85D75;
}

nav span {
    display: none;
}

nav hr {
    width: 100%;
}

main {
    grid-area: main;
    background-color: #AEB7B3;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "projects"
        "sidebar"
    ;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
}

.card-container {
    grid-area: projects;
    display: grid;
    gap: 1rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 1rem;
    background-color: #AEB7B3;
}

footer {
    grid-area: footer;
    padding: 1rem;
    height: auto;
    background-color: #AEB7B3;
    color: #E1EFE6;
}
.projects{
    padding: 0rem;
}
.project-card {
    background-color: white;
    padding: 1rem;
    border-left: 0.5rem solid #EFCB68;
    border-radius: 10px;
}

.card-buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.card-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex: 1;
    border-radius: 10px;
    border: 0;
    background-color: #1A1423;
    color: #ffffff;
    padding: 0.5rem;
}

.card-buttons button:hover {
    background-color: #35CE8D;
    color: #1A1423;
}

.feature-card,
.announcement-card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.featured-user {
    display: grid;
    align-items: space-between;
    grid-template-columns: auto 1fr;
    padding: 0.5rem;
    justify-content: space-between;
    grid-template-areas:
        "avatar username"
        "avatar usertitle"
    ;
}

.featured-user .user-avatar {
    grid-area: avatar;
    padding-right: 0.5rem;
}

.featured-user .username {
    grid-area: username;
}

.featured-user .usertitle {
    grid-area: usertitle;
    color: #888078;
    font-size: 0.8rem;
}

.announcement-title {
    font-weight: bold;
}

.announcement-excerpt {
    font-size: 0.9rem;
    color: #888078;
}

hr {
    border: 1px solid #888078;
    opacity: 0.2;
}

@media (min-width: 500px) {
    header .toolbar {
        justify-content: flex-end;
    }
    .user-panel {
        grid-template-columns: 1fr 1fr auto auto;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 769px) {
    .grid-wrapper{
        height: 100dvh;
    }
    main {
        grid-template-columns: 2fr max(240px);
        grid-template-rows: 1fr;
        grid-template-areas:
            "content sidebar"
        ;
    }

    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .sidebar {
        display: grid;
        gap: 0rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 1fr;
    }
    nav span{
        display: inline-block;
    }
    nav ul{
        align-items: flex-start;
    }
    nav ul li{
        display: flex;
        align-items: center;
        color: #ffffff;
        gap: 0.5rem;
    }
    .user-panel {
        grid-template-columns: max(250px) 2fr auto auto;
    }
    .logo{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

}